@font-face 
{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
src: local('Open Sans Bold'), local('OpenSans-Light'), url(../polices/OpenSans-Bold.ttf) format('truetype');
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*--------------------------------------------------------- Menu Vertical -----------------------------------------------------------*/
/*---------------------------------------------------------               -----------------------------------------------------------*/
/*---------------------------------------------------------               -----------------------------------------------------------*/
/*---------------------------------------------------------               -----------------------------------------------------------*/
/*---------------------------------------------------------               -----------------------------------------------------------*/
/*---------------------------------------------------------               -----------------------------------------------------------*/
/*---------------------------------------------------------               -----------------------------------------------------------*/


.nav-pills > li > a
{
    border: none;
    border-radius: 0;
}



.vertical_menu 
 {
    margin-top: 50px;
    background-color: #222222;
     position: fixed;
     height: 100%;
     padding-right: 0;
     border: none;
     border-radius: 0;
}
#wrapper {
    width: 100%;
}

#page_wrapper {
    background-color: #223222;
    width: 100%;
}

.contenu {
    margin-left: 200px;
}


.mini-box {
    min-height: 120px;
    padding: 25px;
}
.panel {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(46, 46, 46, 0.05);
    margin-bottom: 20px;
}
.option1 {
    margin-top: 300px;
}
.sam{
    margin-top: 250px;
}
a:focus, a:hover
{
    text-decoration: none;
    
}
.sam .text-muted
{
    color:#222222;
}

/*----------------------------------------------------------------- Table --------------------------------------------------------------------*/

.table_cf {
    padding-top: 80px;
}
/*-------------------------------------------------- Media Query ------------------------------------------------------*/

/*-------------------------------- COL SM ------------------------------*/
@media (min-width: 720px) 
{

}
/*-------------------------------- COL MD ------------------------------*/
@media (min-width: 992px) 
{
      .sam{
    margin-top: 250px;
    }
}

/*-------------------------------- COL LG ------------------------------*/

@media (min-width: 1200px) 
{
    .sam{
    margin-top: 180px;
    }
}
