@font-face 
{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
src: local('Open Sans Bold'), local('OpenSans-Light'), url(../polices/OpenSans-Bold.ttf) format('truetype');
}

body{
    font-family: 'Open Sans', sans-serif;
}
.panel .monalert
{
    font-family: sans-serif;
}